<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- <meta http-equiv="refresh" content="3"> -->
</head>
<body>
    <style>
        body{
            text-align: center;
        }

        button{
            border: none;
            width: 30%;
            height: 20px;
            color: white;
            background-color: #3E5641;
            position: relative;
            border-radius: 40px 40px 40px 40px;
            font-size: small;
        }
        button:hover{
            background-color: #282B28;
            transition: .3s;
        }

        #refresh{
            background-color: #282B28;
            transition: .3s;
        }
        #refresh:hover{
            background-color: #2191FB;
            transition: .3s;
        }

        #clear{
            background-color: #282B28;
            transition: .3s;
        }
        #clear:hover{
            background-color: #BA274A;
            transition: .3s;
        }
        *{
            outline: none;
        }
    </style>
    <div style="height: 90%; max-height: 700px;">
        <canvas style="height: 90%; max-height: 700px; width: 400px;" id="myChart"></canvas>
    </div>
    <button id="save">SHOW</button>
    <script id="send_save">
        $(document).ready(function(){
            $("#save").click(function(){
                $.get("/saveExcel", function(data, status){ });
            });
        });
    </script>

    <button id="refresh" onclick="window.location.reload()">REFRESH</button>

    <button id="clear">CLEAR</button>
    <script id="clear_scr">
        $(document).ready(function(){
            $("#clear").click(function(){
                $.get("/clear_arr", function(data, status){ }).then(window.location.reload());
            });
        });
    </script>

    <script id="make_chart">
    // 우선 컨텍스트를 가져옵니다. 
    var ctx = document.getElementById("myChart").getContext('2d');
    /*
    - Chart를 생성하면서, 
    - ctx를 첫번째 argument로 넘겨주고, 
    - 두번째 argument로 그림을 그릴때 필요한 요소들을 모두 넘겨줍니다. 
    */
   
   // var newA = new Array;

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["<%= tat[0] %>", "<%= tat[1] %>", "<%= tat[2] %>", "<%= tat[3] %>", "<%= tat[4] %>", "<%= tat[5] %>", "<%= tat[6] %>"],
            datasets: [{
                label: '# of Votes',
                data: [<%= tad %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: true, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 1,
                        min: 0,   
                        display: false
                    }
                }]
            }
        }
    });
    </script>
</body>
</html>